<div class="media text-muted pt-3">
  <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
    <div class="d-flex justify-content-between align-items-center w-100">
      <strong class="text-gray-dark">
				<%= comment.user.email %>
			</strong>
			<% if has_role?(:admin) || (can? :update, comment) %>
				<div>
					<%= link_to 'Удалить', [comment.task.project, comment.task, comment], method: :delete, data: { confirm: 'Вы уверены?'} %>
					| <%= link_to 'Изменить', edit_project_task_comment_path(comment.task.project, comment.task, comment) %>
				</div>
			<% end %>
		</div>
		<span class="d-block">
			<%= comment.body %>
			<% (0...comment.images.count).each do |image| %>
				<div style="width: 30%; height: 30%">
					<%= image_tag(comment.images[image], style:'width:100%; height:auto') %>
				</div>
			<% end %>
			<% if comment.images.any? %>
				<%= link_to 'delete images', project_task_comment_delete_images_path(comment.task.project, comment.task, comment) %>
			<% end %>
			<br>
			<% (0...comment.files.count).each do |file| %>
        <%= link_to "download file (#{comment.files[file].blob.filename})", comment.files[file],  download: "file_name" %> <br>
			<% end %>
		</span>
		<% if comment.files.any? %>
			<%= link_to 'delete files', project_task_comment_delete_files_path(comment.task.project, comment.task, comment) %>
		<% end %>
	</div>
</div>
