<div class="row">
	<div class="col-md-8 order-md-1">
		<h3>Изменить комментарий</h3>
		<%= form_for ([@project, @task, @comment]) do |f| %>
			<div class="col-md-6 mb-3">
				<%= f.text_area :body, placeholder: "Комментарий", class: "form-control", style: "margin-bottom:10px" %>
        <% if @comment.images.attached? %>
          <%= f.label :purge_images %>
          <%= f.check_box :purge_images %>
        <% end %>
				<%= f.submit "Сохранить комментарий", class: "btn btn-primary btn-lg btn-block" %>
			</div>
		<% end %>
	</div>
</div>
