<div class="content">
	<h1 class="mt-5">
		<%= @task.title %>
	</h1>
	<% if has_role?(:admin) %>
		<p>
			<%= link_to 'Изменить', edit_project_task_path(@project, @task) %>
			 | <%= link_to 'Удалить', project_task_path(@project, @task), method: :delete, data: { confirm: 'Вы уверены?' } %>
		</p>
	<% end %>
	<p>
		<%= @task.body %>
	</p>
	<% if @task.comments.any? %>
		<div class="my-3 p-3 bg-white rounded shadow-sm">
			<%= render @task.comments %>
		</div>
	<% end %>
	<% unless has_role?(:client) %>
	<h3>Добавить комментарий</h3>
	<%= render 'comments/new' %>
	<% end %>
</div>
