<div class="form-signin">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
<h1 class="h3 mb-3 font-weight-normal" align="center">Сменить пароль</h1>

  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control", placeholder: "Новый пароль"  %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> символов минимум)</em><br />
    <% end %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Подтвердите новый пароль" %>
  </div>

  <div class="actions">
    <%= f.submit "Сменить", class: "btn btn-lg btn-primary btn-block" %>
  </div>
<% end %>
</div>
<%= render "devise/shared/links" %>
