<p><%= link_to "Войти", sign_in_url %><p>
<p><%= link_to "Выйти", sign_out_url %><p>
<p><%= link_to "Проекты", projects_url %><p>
<p><%= link_to "Создать проект", new_project_url %><p>
<p> Show all registered users:</p>
<p>
<%= @users.each do |f| %>
<%end%>
</p>
