<% if user_signed_in? %>
	<p><%= link_to "Создать проект", new_project_url %></p>
<% end %>
<h3>Список проектов</h3>
<div class="table-responsive">
	<table class="table table-striped table-sm">
		<tbody>
			<thead>
				<tr>
					<th>Название проекта</th>
					<th>Постановщик</th>
					<th>Опции</th>
				</tr>
			</thead>
			<% @projects.each do |f| %>
				<tr>
					<td>	
						<%= link_to f.project_title, f %>
					</td>
					<td>	
						<%= f.user.email %>
					</td>
					<% if user_signed_in? %>
						<td>
							<%= link_to 'Изменить', edit_project_path(f) %> | <%= link_to 'Удалить', project_path(f), method: :delete, data: { confirm: 'Вы уверены?' } %>
						</td>
					<% end %>
					</tr>
			<%end%>
		</tbody>
	</table>
</div>
