<div class="row">
	<div class="col-md-8 order-md-1">
		<h1>Новый проект</h1>
		<%= form_for :project, url: projects_path do |f| %>
		<% if @project.errors.any? %>
			<div id="errors">
				<p><%= pluralize(@project.errors.count, "error") %>: </p>
				<ul>
					<% @project.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
		<% end %>
		<div class="col-md-6 mb-3">
			<%= f.label "Введите название проекта:" %> <br />
			<%= f.text_field :project_title, placeholder: "Название проекта", class: "form-control", style: "margin-bottom:10px" %>
			<%= f.submit "Сохранить проект", class: "btn btn-primary btn-lg btn-block" %>
		</div>
		<% end %>
	</div>
</div>
