<nav style="border-radius: 0px 0px 25px 25px" class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="/">CRM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample04">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Главная", root_url, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Список проектов", projects_url, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">test dropdown</a>
        <div class="dropdown-menu" aria-labelledby="dropdown04">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <% if user_signed_in? %>
      <div class="navbar-currentuser"><%= current_user.email %></div>
      <%= link_to "Выйти", sign_out_url, class: "btn btn-secondary"%>
      <% elsif %>
      <%= link_to "Войти", sign_in_url, class: "btn btn-outline-primary", style: "background-color:white" %>
      <%= link_to "Регистрация", new_user_registration_url, class: "btn btn-outline-primary", style: "background-color:white" %>
    <% end %>
  </div>
</nav>
